body {
  padding: 60px 0 0 0;
}

.form-select {
  height: 37px!important;
}

.category-title {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  color: #333;
  display: block;
}

.column-title {
  text-align: center;
  margin: 0 0 20px;
}

.column-title a {
  margin: 0!important;
}

.top-filter {
  width: 100%;
  text-align: center;
  margin: 0 0 30px;
}
